<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% include ../components/headElements.html %>
    <script type="text/javascript" src="lib/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validation/messages_zh.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 网站主要内容存放的地方 -->
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
                <% if(questionnaireTitle && questionnaireDesc) { %>
                <div class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2" style="border: 1px solid rgba(86,61,124,.2); margin-bottom: 10px; padding: 10px;">
                    <h1 class="text-center">
                        <%=questionnaireTitle %>
                    </h1>
                    <p>
                        <%=questionnaireDesc %>
                    </p>
                    <hr>
                    <% if(length>0) { %>
                    <form method="post" id="fillMyForm">
                        <input type="text" name="qID" value="<%=qID%>" hidden>
                        <% for(var i=0; i<length; i++){%>
                        <div id="subq<%=i+1%>" class="form-group">
                            <%# 单选 %>
                            <% if(subQData[i].q_type == 1) { %>
                                <h4>
                                    <%=i+1 %>.
                                    <%=subQData[i].q_desc %>
                                </h4>
                                <%# 如果只能选择一个，name属性要相同,先将JSON字符串转为JSON对象，然后打印出来 %>
                                <% var options=JSON.parse(subQData[i].q_options) %>

                                <% for(var j=0; j<options.length; j++){ %>
                                <%# 单选name要相同 %>
                                    <input type="radio" name="<%=subQData[i].q_desc %>" value="<%=options[j]  %>" required>&nbsp;
                                    <%=options[j]  %>&nbsp;&nbsp;
                                <% } %>
                                <label for="<%=subQData[i].q_desc %>" class="error"></label>
                            <%}%>
                            <%# 多选 %>
                            <% if(subQData[i].q_type == 3) { %>
                                <h4>
                                    <%=i+1 %>.
                                    <%=subQData[i].q_desc %>
                                </h4>
                                <%# 如果只能选择一个，name属性要相同,先将JSON字符串转为JSON对象，然后打印出来 %>
                                <% var options=JSON.parse(subQData[i].q_options) %>
                                <% for(var j=0; j<options.length; j++){ %>
                                    <input type="checkbox" name="<%=subQData[i].q_desc %>" value="<%=options[j]  %>" required>&nbsp;
                                    <%=options[j]  %>&nbsp;&nbsp;
                                <% } %>
                                <%# 给一个占位的标签即可，如果没有选择，标签里面的内容会被替换为提示信息并显示 %>
                                <label for="<%=subQData[i].q_desc %>" class="error"></label>
                            <%}%>
                            <%# 打分单选 %>
                            <% if(subQData[i].q_type == 2) { %>
                                <h4>
                                    <%=i+1 %>.
                                    <%=subQData[i].q_desc %>
                                </h4>
                                <%# 如果只能选择一个，name属性要相同,先将JSON字符串转为JSON对象，然后打印出来 %>
                                <% var levels=subQData[i].q_level %>
                                <% for(var j=0; j<levels; j++){ %>
                                    <%# 单选name要相同 %>
                                    <input type="radio" name="<%=subQData[i].q_desc %>" value="<%=j+1  %>" required>&nbsp;
                                    <%=j+1  %>&nbsp;&nbsp;
                                <% } %>
                                <label for="<%=subQData[i].q_desc %>" class="error"></label>
                            <%}%>
                            <%# 文本填空 %>
                            <% if(subQData[i].q_type == 4) { %>
                            <h4>
                                <%=i+1 %>.
                                <%=subQData[i].q_desc %>
                            </h4>
                            <textarea class="form-control" rows="2" name="<%=subQData[i].q_desc %>" required></textarea>
                            <%}%>
                            <%# 数字填空 %>
                            <% if(subQData[i].q_type == 5) { %>
                            <h4>
                                <%=i+1 %>.
                                <%=subQData[i].q_desc %>
                            </h4>
                            <input class="form-control" type="number" name="<%=subQData[i].q_desc %>" required>
                            <%}%>
                            <hr>
                        </div>
                        <% } %>
                        <div style="text-align: center;">
                            <input class="btn btn-default" type="submit" value="Submit"></input>
                        </div>
                    </form>
                    <% } %>
                </div>
                <br>
                <% } %>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("#fillMyForm").validate();
    });
</script>

</html>